---
layout: null
title: Andrew C. W. Myers
description: XX
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>

<html>
	<head>
    {% include head.html %}


	</head>
	<meta name=”robots” content=”noindex”>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}
                        <ul class="icons">
							<li><a href="https://www.linkedin.com/in/andrewcwmyers/" target="_blank" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
						</ul>

					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
		

						<center> <h1> Hidden Directory </h1>
						<center> <h2> (Congrats! You found the secret part of the site)
						<br><br>
							<ul>
							<li>
						 <h5 align="left"><a class='btn btn-link' href="/dronecentral/">Drone Central</a></h5>
							</li>
							<li>
						 <h5 align="left"><a class='btn btn-link' href="/skolhouse/">The Skol House Project</a></h5>
							</li>
							<li>
						 <h5 align="left"><a class='btn btn-link' href="/cabin_rebuild/">The Johnson Family Outhouse Rebuild Project</a></h5>
							</li>
							<li>
						 <h5 align="left"><a class='btn btn-link' href="/pizza/">The Myers' Woodfired Pizzeria</a></h5>
							</li>
							<li>
						 <h5 align="left"><a class='btn btn-link' href="/travels/">Travels</a></h5>
							</li>
							<li>
						 <h5 align="left"><a class='btn btn-link' href="https://www.dropbox.com/sh/clpbyh19vga29p5/AAD1yTQDOhWT4VEvDHX8rLVsa?dl=0">Site Snagger Status</a></h5>
							</li>
							<ul>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
