---
layout: null
title: Andrew C. W. Myers
description: XX
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>

<html>
	<head>
		<meta name=”robots” content=”noindex”>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							
<center>
<h1> Skol House </h1>
<h2> Design Central </h2>
<p3> Click on images below to engage interactive viewer.</p3>


<hr>

<h3> Exterior Design </h3>

<iframe src="https://3dwarehouse.sketchup.com/embed/f6114c76-a623-4672-8206-0bf6358da35f" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="1000" height="525" allowfullscreen></iframe>
<hr>

<h3> Framing Plans </h3>

<iframe src="https://3dwarehouse.sketchup.com/embed/74a2e6f3-1451-4a61-bca1-f4be30b856df" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="1000" height="525" allowfullscreen></iframe>


</center>

<hr>

<ul>

Specifications:
  <li>Dimensions: 10' x 14' base </li>
  <li>Height: 8' walls</li>
  <li>Roof slope: 9/12 pitch</li>
  <li>Footing depth: 4'</li>
  <li>Grounding breaking date: April 1st, 2021</li>
</ul>

<br>
<center>
<div class="category"><img src="/images/skol.jpg" height="200" width="200" /><p style="text-align:center;"></p></div>
</center>




						<!-- Posts -->
							<section class="posts">
                {% for post in site.posts limit:3 %}
                {% assign mod3 = forloop.index | modulo: 3 %}
  								<article>
  									<header>
  										<span class="date">{{ post.date | date_to_string }}</span>
  										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  									<p>{{ post.excerpt }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
  									</ul>
  								</article>
                  {% if mod3 == 0 %}
                  <article>
  									<header>
  										<h2><a href="#">Sponsored</a></h2>
  									</header>

  								</article>
                  {% endif %}
                {% endfor %}

							</section>

						<!-- Footer -->
							

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
